<section class="tsg-about">
  <div id="tsg-main-logo" class="tsg-main__logo-container">
    <div class="wrapper">
      <section class="tsg-intro">
        <div class="intro__box">WIN OR LEARN, NEVER LOSE</div>
      </section>
    </div>
  </div>
  <div id="tsg-company" class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>TEAM SLOGUP</h2>
          <p>ABOUT US</p>
        </header>
        <div class="section__content">
          <img class="section__cimg width--full" src="./image/bg_about_us_intro.jpg">
          <div class="section__cdesc">
            <div class="desc__header">We go startup way</div>
            팀슬로그업은 스타트업 서비스 개발 전문가집단입니다. 자체서비스 개발과 더불어 스타트업 홈페이지/서비스를 전문으로 외주개발을 하고 있습니다. 그저 개발하는 게 좋아서 ‘자발적인 11시 칼퇴근’을 반복하는 개발중심 IT스타트업입니다.
            <div class="desc__header">We go extra mile once started</div>
            외주도 개발공부라 여기고 한땀한땀 코딩합니다. 끊임없이 랩핑하고 리팩토링해서 간결하게 짭니다. 무리해서 많은 외주를 받지 않고 작게 받아 제대로 만드는데 집중하며, 나머지 시간엔 저희도 IT스타트업으로서 자체서비스를 만듭니다.
            <div class="desc__header">We go together</div>
            스타트업 판은 넓지 않습니다. 저희는 고객과의 관계를 제품출시 이후에도 계속 마주치며 서로의 성장을 목격할 '스타트업 네트워크' 관계로 여깁니다. “빨리 가려면 혼자 가고, 멀리 가려면 함께 가라”는 인디언 격언처럼, 멀리까지 함께 갈 수 있기를 바랍니다.
          </div>
        </div>
      </section>
    </div>
  </div>
  <div id="tsg-members" class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>MEMBERS</h2>
          <p>IN TEAM, WE TRUST</p>
        </header>
        <div class="section__content">
          <ul class="members-list">
            <li ng-repeat="memberitem in members">
              <div class="member">
                <img ng-src={{memberitem.url}}>
                <div>
                  <strong>{{memberitem.name}}</strong>
                  <p>{{memberitem.introduce}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div id="tsg-history" class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>HISTORY</h2>
        </header>
        <div class="section__content">
          <div class="tsg-history column-2">
            <div>
              <table>
                <tbody>
                  <tr class="tsg-history__year">
                    <td><b>2013</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>05</b></td>
                    <td>슬로그업 설립</td>
                  </tr>
                  <tr>
                    <td><b>06</b></td>
                    <td>창업선도대학 지원사업 선정</td>
                  </tr>
                  <tr class="tsg-history__year">
                    <td><b>2014</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>02</b></td>
                    <td>웹서비스 ‘슬로그업’ 오픈베타 릴리즈</td>
                  </tr>
                  <tr>
                    <td><b>04</b></td>
                    <td>청년창직인턴제 지원사업 선정</td>
                  </tr>
                  <tr>
                    <td><b>05</b></td>
                    <td>유망창업기업 고용지원사업 선정</td>
                  </tr>
                  <tr>
                    <td><b>07</b></td>
                    <td>아파트형공장114 웹페이지 · 모바일앱 · 솔루션 · 어드민 제작 (외주)</td>
                  </tr>
                  <tr>
                    <td><b>09</b></td>
                    <td>글로벌 현지화 및 마케팅 지원사업 선정 (봄블링, 중국)</td>
                  </tr>
                  <tr>
                    <td><b>10</b></td>
                    <td>Born Global 스타트업 캠프 선정 (봄블링, 중국)</td>
                  </tr>
                  <tr>
                    <td><b>11</b></td>
                    <td>㈜LSP 안드로이드 앱 · 웹페이지 · 솔루션 제작 (외주)</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <table>
                <tbody>
                  <tr class="tsg-history__year">
                    <td><b>2015</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>01</b></td>
                    <td>Twitter Korea 방송용 트윗 Visualization Module · 슈퍼스타K6 / 펜타포트 락페스티벌 행사용 전광판 앱 · 개판오분전 방송용 피딩앱 등 제작 (외주)</td>
                  </tr>
                  <tr>
                    <td><b>02</b></td>
                    <td>‘봄블링’ 국내 릴리즈 Android · iOS</td>
                  </tr>
                  <tr>
                    <td><b>04</b></td>
                    <td>숙명여대 창업보육센터 입주</td>
                  </tr>
                  <tr>
                    <td><b>09</b></td>
                    <td>박정희대통령 전자도서관 사이트이전 및 육영수여사기념관 홈페이지 · 어드민제작 (외주)</td>
                  </tr>
                  <tr>
                    <td><b>11</b></td>
                    <td>기업부설연구소 설립</td>
                  </tr>
                  <tr>
                    <td><b>12</b></td>
                    <td>새 프로젝트 ‘씽(뉴슬로그업)’ 오픈베타 준비중</td>
                  </tr>
                  <tr class="tsg-history__year">
                    <td><b>2016</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>01</b></td>
                    <td>'슬로그업'에서 '팀슬로그업'으로 사명 변경</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div id="tsg-location" class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>CONTACT</h2>
          <p>
            admin@slogup.com <br>
          </p>
        </header>
        <div class="section__content">
          <figure class="section__map-container">
            <ui-gmap-google-map>
              <div class="angular-google-map">
                <div class="angular-google-map-container">

                </div>
              </div>
            </ui-gmap-google-map>
          </figure>
          <figcaption>서울 용산구 청파로 47길 90 숙대BI 207호</figcaption>
        </div>
      </section>
    </div>
  </div>
</section>