<article class="pt-modal" ng-click="close_modal()">
  <div class="content" ng-click="$event.stopPropagation()">
    <header>
      <div class="pt-modal__img" style="background-image: url('./image/portfolio/2-idealinvest/logo.jpg')"></div> <!-- -->
      <div class="pt-modal__content">
        <h3>{{temp.info1}}</h3>
        <p>{{temp.modal.info}}</p>
      </div>
      <div class="btn-close" ng-click="close_modal()">X</div>
    </header>
    <div class="pt-modal__img-list">
      <ul>
        <li ng-repeat="picture in temp.modal.picture">
          <div>
            <img ng-src={{picture.url}}>
          </div>
        </li>
      </ul>
    </div>
    <div class="pt-modal__infos">
      <div class="pt-modal__info-element">
        <span>프로젝트 코드라인수</span>
        <div>{{temp.modal.line}}줄</div>
      </div>
      <div class="pt-modal__info-element">
        <span>디자인 시안 교체 횟수</span>
        <div>{{temp.modal.num}}번</div>
      </div>
      <div class="pt-modal__info-element">
        <span>실제 코드 개발기</span>
        <div>{{temp.modal.time}}주</div>
      </div>
    </div>
    <div class="pt-modal__stacks">
      <div>
        <h4>SKILLS</h4>
        <ul class="section__dev-stack">
          <li ng-repeat="skill in temp.modal.skill">{{skill.title}}</li>
        </ul>
      </div>
      <div>
        <h4>UTILS</h4>
        <ul class="section__dev-stack">
          <li ng-repeat="util in temp.modal.util">{{util.title}}</li>
        </ul>
      </div>
    </div>
    <footer class="section__footer">
      <div class="section__btn-group">
        <a href="http://idealinvest.co.kr" target="_blank">
          <button class="button button--wapasha button--round-l button--text-thick button--inverted">서비스 바로가기</button>
        </a>
      </div>
    </footer>
  </div>
</article>
<div class="overlay"></div>