<section class="tsg-service">
  <div id="tsg-main-logo" class="tsg-main__logo-container">
    <div class="wrapper">
      <section class="tsg-intro">
        <div class="intro__box">
          WE MAKE SOMETHING NEW
        </div>
      </section>
    </div>
  </div>
  <div class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>봄블링</h2>
          <p>
            인스타 훈남훈녀들의 미모대결 썸게임
          </p>
        </header>
        <div class="section__content">
        <img class="section__cimg" src="./image/bg_service_bombling.jpg">
          <div>
            <p>
              봄블링은 슬로그업의 첫 프로젝트로, 팀빌딩을 위해 만들어보았습니다.<br>
              이음 등의 1세대 매치메이킹 서비스들의 구조적 약점인 유령회원, 개인정보 노출, 음성화 우려 요소를 해소한 '소셜데이팅의 건강한 진화' 모델입니다.<br>
              국내 소셜데이팅 최초로 중국시장에도 진출, '칭워(卿我)'라는 이름으로 중국에서도 글로벌서비스 됩니다.<br>
            </p>
            <div>
              <a href="http://bombling.com">봄블링(http://bombling.com)</a>
            </div>
          </div>
        </div>
        <footer class="section__footer">
          <div class="section__btn-group">
            <a class="tsg-btn-store" href="https://itunes.apple.com/kr/app/mulyo-sogaeting-bombeulling/id961633991?mt=8" target="_blank"><img src="./image/btn_appstore.png"></a>
            <a class="tsg-btn-store" href="https://play.google.com/store/apps/details?id=com.bombling" target="_blank"><img src="./image/btn_googleplay.png"></a>
          </div>
        </footer>
      </section>
    </div>
  </div>
  <div class="tsg-main__section-container">
    <div class="wrapper">
      <section class="tsg-section">
        <header class="section__header">
          <h2>씽(ssing)</h2>
          <p>
            현재 개발중인 슬로그업의 차기 프로젝트입니다.
          </p>
        </header>
        <div class="section__content">
          <img class="section__cimg" src="./image/bg_service_ssing.jpg">
          <div>
            새로운 형태의 소셜 커뮤니케이션 앱입니다. 아직은 자세한 내용을 공개할 수가 없네요.<br> 참 좋은데.. 진짜 괜찮은데.. 참 어떻게 설명할 방법이 없네요.
          </div>
        </div>
        <footer class="section__footer">
          <div class="section__btn-group">
            <a class="tsg-btn-store tsg-btn-disable"><img src="./image/btn_appstore.png"></a>
            <a class="tsg-btn-store tsg-btn-disable"><img src="./image/btn_googleplay.png"></a>
          </div>
        </footer>
      </section>
    </div>
  </div>
</section>